---
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Sponsors from "../components/Sponsors.astro";
import About from "../components/About.astro";
import LocationDate from "../components/LocationDate.astro";
import FAQs from "../components/FAQs.astro";
import Agendas from "../components/Agendas.astro";
import Organizers from "../components/Organizers.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- <link rel="stylesheet" href="/font-awesome.min.css"> -->
		<title>Astro</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">
		<SEO
			title={"OpenConf - TCET"}
			description={"Unlock the Power of Open Source at TCET OpenConf! Join us for a day of inspiration, collaboration, and cutting-edge innovation, where students and industry experts come together to shape the future of open-source technology."}
			openGraph={{
				basic: {
					title: "OpenConf - TCET",
					type: "website",
					image: "/openConfLogo.png",
					url: "https://tnp.tcetmumbai.in/",
				},
				image: {
					width: 400,
				},
			}}
			twitter={{
				title: "OpenConf - TCET",
				image: "/openConf.png",
				card: "summary_large_image",
				description:
					"Unlock the Power of Open Source at TCET OpenConf! Join us for a day of inspiration, collaboration, and cutting-edge innovation, where students and industry experts come together to shape the future of open-source technology.",
				creator: "@tcetopensource",
			}}
			extend={{
				meta: [
				  {
					name: "og:image",
					content: "/openConf.png",
				  },
				  {
					name: "og:image:width",
					content: "500",
				  },
				]
			  }}
		/>
	</head>
	<body class="font-sans max-w-screen overflow-x-hidden " >
		<Header />
		<main class=" overflow-visible  " >
			<Hero />
			<About />
			<LocationDate />
			<Sponsors />
			<Organizers />			
			<FAQs />
			<Agendas />
		</main>
		<Footer />
	</body>
</html>
