<h1 class="text-4xl text-black bg-red-600 sm:bg-blue-600 sm:text-white lg:text-8xl  md:bg-green-600 xl:bg-yellow-600 " >Hello World</h1>
<h1 class="mt-10 text-3xl text-blue-600 lg:text-7xl " >Open SOurce</h1>

<div class="flex gap-8 flex-wrap " >
    <span class="w-44 h-44 block bg-red-600" ></span>
    <span class="w-44 h-44 block bg-red-600" ></span>
    <span class="w-44 h-44 block bg-red-600" ></span>
</div>
<div class="mt-10 gap-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 " >
    <span class="w-44 h-44 block bg-blue-600" ></span>
    <span class="w-44 h-44 block bg-blue-600" ></span>
    <span class="w-44 h-44 block bg-blue-600" ></span>
</div>