<section id="about" 
style="background: radial-gradient(68.89% 110.42% at 64.90% 106.37%, rgba(207, 176, 255, 0.99) 0%, rgba(241, 232, 255, 0.30) 100%), #FFF;"
class="border-b border-slate-100 p-4 md:p-10 md:pb-0 lg:p-16 lg:pb-0  md:flex justify-between 
relative -z-20 !mt-10 "
>
    <div class="space-y-2" >
        <h1 class="text-3xl lg:text-5xl  !leading-[1.2] font-semibold" >About us</h1>
        <p class="text-slate-600 max-w-4xl" >
            OpenConf is a community event of TCET Open Source. It aims to hosts
            inspiring keynotes/sessions, and facilitate networking and
            collaboration. With a diverse community of developers, industry
            leaders, and enthusiasts, OpenConf fosters a spirit of transparency
            and empowerment. It welcomes participants from TCET and outside
            organizations who share a passion for open source. Join us to learn,
            share, and shape the future of technology in this dynamic event.
        </p>
    </div>
    <div class="hidden md:block lg:pr-20 " >
        <svg
            width="243"
            height="284"
            viewBox="0 0 293 334"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g opacity="0.8" clip-path="url(#clip0_26_787)">
                <path
                    d="M241.949 62.6902C225.901 25.7676 189.109 0 146.25 0C103.391 0 66.5988 25.7676 50.5512 62.6902C39.8527 63.6035 31.4375 72.5406 31.4375 83.5V125.25C31.4375 136.209 39.8527 145.146 50.5512 146.06C66.5988 182.982 103.391 208.75 146.25 208.75C189.109 208.75 225.901 182.982 241.949 146.06C252.647 145.146 261.063 136.209 261.063 125.25V83.5C261.063 72.5406 252.647 63.6035 241.949 62.6902ZM219.313 93.9375V104.375C219.313 138.949 191.262 167 156.688 167H135.813C101.238 167 73.1875 138.949 73.1875 104.375V93.9375C73.1875 76.6504 87.2129 62.625 104.5 62.625H188C205.287 62.625 219.313 76.6504 219.313 93.9375ZM123.614 106.136L119.7 92.3066C119.113 90.1539 117.155 88.7188 114.938 88.7188C112.72 88.7188 110.763 90.1539 110.175 92.3066L106.261 106.136L92.4316 110.05C90.2789 110.637 88.8438 112.595 88.8438 114.812C88.8438 117.03 90.2789 118.988 92.4316 119.575L106.261 123.489L110.175 137.318C110.763 139.471 112.72 140.906 114.938 140.906C117.155 140.906 119.113 139.471 119.7 137.318L123.614 123.489L137.443 119.575C139.596 118.988 141.031 117.03 141.031 114.812C141.031 112.595 139.596 110.637 137.443 110.05L123.614 106.136ZM73.6441 206.467C30.5895 223.493 0.125 265.504 0.125 314.625C0.125 325.324 8.80117 334 19.4996 334H83.625V292.25C83.625 280.704 92.9535 271.375 104.5 271.375H188C199.547 271.375 208.875 280.704 208.875 292.25V334H273C283.699 334 292.375 325.324 292.375 314.625C292.375 265.504 261.911 223.493 218.856 206.467C198.372 221.014 173.322 229.625 146.25 229.625C119.178 229.625 94.1277 221.014 73.6441 206.467ZM114.938 292.25C109.197 292.25 104.5 296.947 104.5 302.688V334H125.375V302.688C125.375 296.947 120.678 292.25 114.938 292.25ZM177.563 313.125C180.331 313.125 182.986 312.025 184.943 310.068C186.9 308.111 188 305.456 188 302.688C188 299.919 186.9 297.264 184.943 295.307C182.986 293.35 180.331 292.25 177.563 292.25C174.794 292.25 172.139 293.35 170.182 295.307C168.225 297.264 167.125 299.919 167.125 302.688C167.125 305.456 168.225 308.111 170.182 310.068C172.139 312.025 174.794 313.125 177.563 313.125Z"
                    fill="url(#paint0_linear_26_787)"></path>
            </g>
            <defs>
                <linearGradient
                    id="paint0_linear_26_787"
                    x1="146.25"
                    y1="0"
                    x2="146.25"
                    y2="334"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="white" stop-opacity="0.4"
                    ></stop>
                </linearGradient>
                <clipPath id="clip0_26_787">
                    <rect
                        width="292.25"
                        height="334"
                        fill="white"
                        transform="translate(0.125)"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</section>
