---
import ReserveSpot from "./ReserveSpot.astro";
import agendas from "../data/agendas";
import AgendaCard from "./AgendaCard.astro";
---

<section id="agendas" class="space-y-12 p-4 md:p-10 lg:p-16" >
    <div class="space-y-6" >
        <h1 class="text-3xl lg:text-5xl  !leading-[1.2] font-semibold" >Agenda</h1>
        <ReserveSpot />
    </div>
    <div class="grid grid-cols-1 gap-8" >
        {agendas.map((agenda) => (
            <AgendaCard agenda={agenda}  />
        ))}
    </div>
</section>