---
import CountDown from "./CountDown";
import CountUp from "./CountUp";
---

<section
    class="flex flex-col lg:flex-row lg:px-16 justify-between items-left p-4 gap-4"
>
    <CountDown client:only="react" />

    <CountUp client:load />
</section>
