---
import ReserveSpot from "./ReserveSpot.astro";
import { Image } from '@astrojs/image/components';

---

<section class="p-4 md:p-10 lg:p-16 flex flex-col lg:flex-row gap-16 w-full" >
    <div class="space-y-4 flex-1" >
        <div class="flex gap-4 flex-wrap" >
            <a href="https://goo.gl/maps/EirB38PaiKGL2SYH8" class="bg-purple-100 w-fit flex gap-2 text-purple-700 rounded-full px-3 py-1.5" >
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.5 10C3.5 17 12.5 23 12.5 23C12.5 23 21.5 17 21.5 10C21.5 7.61305 20.5518 5.32387 18.864 3.63604C17.1761 1.94821 14.8869 1 12.5 1C10.1131 1 7.82387 1.94821 6.13604 3.63604C4.44821 5.32387 3.5 7.61305 3.5 10Z" stroke="#6938EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5 13C10.8431 13 9.5 11.6569 9.5 10C9.5 8.34315 10.8431 7 12.5 7C14.1569 7 15.5 8.34315 15.5 10C15.5 11.6569 14.1569 13 12.5 13Z" stroke="#6938EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Auditorium, TCET                     
            </span>
            <span class="bg-purple-100 w-fit flex gap-2 text-purple-700 rounded-full px-3 py-1.5" >
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.5 2V6M16.5 2V6M21.5 10H3.5M19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V20C3.5 21.1046 4.39543 22 5.5 22H19.5C20.6046 22 21.5 21.1046 21.5 20V6C21.5 4.89543 20.6046 4 19.5 4Z" stroke="#6938EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    21st July 2023                    
            </span>
        </div>
        <div class="space-y-2" >
            <h1 class="text-3xl lg:text-5xl  !leading-[1.2] font-semibold" >Location and Date</h1>
            <p class="text-slate-600 max-w-4xl" >OpenConf will be held in the Auditorium of Thakur College of Engineering and Technology, Kandivali, Mumbai with over 800 attendees on The Third Friday, 21st July, 2023. We are aiming for this event to be the largest open source event held in Mumbai! </p>
        </div>
        <ReserveSpot />
    </div>
    <div class='flex-1  ' >
        <Image width={700} format="webp" alt="TCET Auditorium" height={400} src="/location.png" 
        class="w-full lg:max-w-xl lg:w-4/5 mx-auto rounded-lg" />
    </div>
</section>
